.navbar {
    background-color: rgb(36, 25, 190);
    height: 10vh;

}
.navbar .nav-link {
    color: rgb(25, 143, 35);
    text-transform: uppercase;
    font-weight: 900;
}
.btn {
    padding: 12px 30px ;
    font-weight: 900;
    font-size: 18px;
}
.btn-bembang {
    background-color: rgb(168, 29, 161);
    border: 2px solid #000 ;
    border-radius: 60PX;
    transition: all ease-in 0.5s;
}
.btn-bembang:hover {
    color:pink;
    border: 2px solid #839b1a;
}
.hays{
    width: 6%;
}
.banner{
    background:  linear-gradient(90deg, rgb(76, 72, 151) 0%, rgba(1, 17, 19, 0.384) 0%, rgb(148, 159, 161) 100%), url(kk.jpeg);
    height: 100vh;
    background-size: cover;
    text-transform: uppercase;
    font-weight: 800;
}
.banner p{
    color: violet;
    font-size: 20px;
}
.section{
    padding: 100px 0;
}
#about h2, #about h3 {
   text-transform: uppercase;
   font-weight: 800;
}
#about h3 {
    color: #358b40;
}
#about img {
    border: 4px slateblue;
    box-shadow: 0 0 15px 0 rgb(7, 4, 48);
    border-radius: 25px;
}
.card-img-top {
    width: 35%;
}
.card{
    padding: 25px 20px;
    transition: all ease-in 0.5s;
    border: 4px slateblue;
    box-shadow: 0 0 15px 0 rgb(7, 4, 48);
    border-radius: 25px;
    margin-top: 25px;
}

.card :hover{
    background-color: aqua;
    box-shadow: #839b1a;
}
.card:hover .card-title,
.card:hover .card-text{
    color: aquamarine;
}
#services h2{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 55px;
    color: purple;
    margin-bottom: 30px;
}
#services{
    background: #000;
}
#reviews{
    background:#db5656;
}

section {
    padding: 100px 0;
}
.testimonial{
    border: 2px solid rgb(204, 188, 191);
    padding: 20 px;
    border-radius: 20px;
    margin-top: 20px;
    text-align: center;
}
.testimonial img{
    width: 75px;
    border-radius: 50%;
    border: 2px solid #0aa112;
}
.faq-section{
    max-width: 8000px;
    margin: auto;
    margin-top: 30px;
}
.accordion-item{
    margin-bottom: 20px;
    border-radius: 0 !important;
}
.accordion-button{
    background-color: #db5656;
    border: none;
    border-bottom: 1px solid coral;
    border-radius: 0 !important;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color:azure;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
.accordion-body{
    border-left: 3px solid crimson;
    padding: 10px 15px;
    margin-left: 0;
    background-color: rgb(178, 235, 23);
}
.accordion-button:not(.collapsed){
    background-color: #190d88;
    color: #222121;
}
.accordion-button:hover{
    background-color: #f3f1e7;
    color: chocolate;
}
footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #0A1737 ;
} 

#footer ul.list-unstyled li a {
    color: #ffffff;
    text-decoration: none;
}

#footer ul.list-unstyled li:hover a {
    color:  rgb(244, 149, 15) ;
    
}
